body{
 font-family: arial;
}

header{
	
	padding: 20px 0;

}

.topo{
		background: #000000;
        position: relative;
        width: 100%;
        height: 70px;
        margin: 0 auto;
    }

 .topo img{
 	margin: 10px 0 0 30px;
 }

nav{
	position: absolute;
    top: 25px;
    left: 300px;
}

nav li{
	display: inline;
	 margin: 0 0 0 15px;
}



nav a{
	font-size: 17px;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
	color: #ffffff;

}

nav a:hover{
	color: #dcdcdc;
}


main{
	width: 940px;
	margin: 0 auto;

}

.lancamento{
	width: 940px;
	margin: 35px 0 30px 0;
}
.lancamento h2{
	font-size: 2em;

}

.lancamento a{
	text-decoration: none;
	color: #000000;
}

.lancamento a:hover{
	color: #dcdcdc;
	text-decoration: underline;
}

.lancamento h3{
	font-size: 27px;
	margin: 10px 0 10px 0;
	text-transform: capitalize;
	color: rgb(0, 0, 0, 0.5);
}

.lancamento p{
	margin: 10px 0 10px 0;
}

.lancamento img{
	width: 100%;
}

.lancamento ul{
	padding: 5px 0;
	font-size: 20px;
	
}

.lancamento li{
	display: inline;
	margin: 0 0 0 20px;
}

/* Css para paginas de cadastro */
.cadastro-cliente{
	width: 940px;
	margin: 0 auto;

}

.cadastro-cliente h2{
	font-size: 2em;
	text-align: center;
	padding: 20px 0 ;
	color: rgba(0, 0,0, 1.5);

	
}

.cadastro-cliente ul {
	padding: 20px 0;
	text-align: center;

}
.cadastro-cliente li{
	display: inline;
	padding: 0 10px;
}
.cadastro-cliente  li a{
	text-decoration: none;
	font-size: 22px;
	color: #0000ff;
}
.cadastro-cliente  li a:hover{
	color: #000000;
	text-decoration: underline;
}
form{
	margin: 40px 0;
	
}

.input-padrao{
    font-size: 16px;
    display: block;
    margin: 20px 0 0 200px;
    padding: 10px 20px;
    width: 50%;}

    .enviar{
    width: 20%;
    padding: 15px 0px;
    margin: 20px 0 200px 200px;
    font-weight: bold;
    background: rgba(0, 0, 255, 1.0);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  
    cursor: pointer;
}
.enviar:hover{
    background: rgba(0, 0, 255, 0.3);
 

}


footer{
    text-align: center;
    background: #000000;
    margin: 0 auto;

}
footer img{
	margin: 30px 0 0 0;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin: 20px 0 0;
}

/* Css para a pagina de login */

.login {
	margin: 0 auto;
	width: 940px;
}
.input-login{
	width: 45%;
	display: inline;
	border: 1px solid #dcdcdc;
	 padding: 10px 20px;
	 font-size:20px ;

}

form{
	margin: 200px 0;
}
label{

}

  .enviar-login{
    width: 100%;
    padding: 15px 0px;
    margin: 50px auto;
    font-weight: bold;
    background: rgba(0, 0, 255, 1.0);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  
    cursor: pointer;
}
.enviar-login:hover{
    background: rgba(0, 0, 0);
 

}