body{
	background:gray;
}

header{
	background: ;
	margin: 0 auto;
}
.topo{
	width:940px;
	background:;
	margin: 0 auto;
}
.topo h1{
	font-size: 40px;
	font-weight: bold;

}
nav ul{
	background: #dcdcdc;
	margin-top: 20px;
}

nav ul a{
	text-decoration: none;
	font-size:17px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}
nav ul a:hover{
	color: #ffffff;
	text-decoration:underline;
}

nav li{
	padding: 10px 0;
	margin: 10px 10px ;
	display: inline-block;
}

main{margin: 0 auto;}

.destaques h2{
	font-size: 20px;
}
