body{
 font-family: arial;
}

header{
	background:;
	padding: 20px 0;

}

.topo{
		background: #000000;
        position: relative;
        width: 100%;
        height: 70px;
        margin: 0 auto;
    }

 .topo img{
 	margin: 10px 0 0 30px;
 }

nav{
	position: absolute;
    top: 25px;
    left: 300px;
}

nav li{
	display: inline;
	 margin: 0 0 0 15px;
}



nav a{
	font-size: 17px;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
	color: #ffffff;

}

nav a:hover{
	color: #dcdcdc;
}


main{
	width: 940px;
	margin: 0 auto;
	background: ;
}

.lancamento{
	width: 940px;
	margin: 35px 0 30px 0;
}
.lancamento h2{
	font-size: 2em;
}

.lancamento a{
	text-decoration: none;
	color: #000000;
}

.lancamento a:hover{
	color: #dcdcdc;
	text-decoration: underline;
}

.lancamento h3{
	font-size: 20px;
	margin: 10px 0 10px 0;
	text-transform: capitalize;
}

.lancamento p{
	margin: 10px 0 10px 0;
}

.lancamento img{
	width: 100%;
}

.lancamento ul{
	padding: 5px 0;
	font-size: 20px;
	
}

.lancamento li{
	display: inline;
	margin: 0 0 0 20px;
}

/* Css para paginas de cadastro */
.cadastro-cliente{
	width: 940px;
	margin: 0 auto;

}

.cadastro-cliente h2{
	font-size: 2em;
	text-align: center;
	padding: 20px 0 ;
	float: left;
}

.cadastro-cliente ul {
	padding: 20px 0;
	text-align: justify;
}
.cadastro-cliente  li a{
	text-decoration: none;
	font-size: 24px;
	color: #0000ff;
}
.cadastro-cliente  li a:hover{
	color: #000000;
}
form{
	margin: 40px 0;
	
}

.input-padrao{
    font-size: 16px;
    display: block;
    margin: 20px 0 0 200px;
    padding: 10px 20px;
    width: 50%;}

    .enviar{
    width: 20%;
    padding: 15px 0px;
    margin: 20px 0 200px 200px;
    font-weight: bold;
    background: blue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  
    cursor: pointer;
}
.enviar:hover{
    background: #000000;
 

}


footer{
    text-align: center;
    background: #000000;
    margin: 0 auto;

}
footer img{
	margin: 30px 0 0 0;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin: 20px 0 0;
}
